/* reset from YUI version: 3.0.0pr2 */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,figure,figcaption{margin:0;padding:0;}th,td{margin:0;padding:0;}fieldset,img{border:0;}table{border-collapse:collapse;border-spacing:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #eeede7;}
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a, .fauxLink { color: #00e; text-decoration: none;}
.fauxLink { cursor:pointer; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* added */

.brand {
   float: left;
   margin-left: 40px;
   padding: 24px 24px 4px;
   line-height: 90%;
   font-size: 18pt;
   position: fixed;
   top: -8px;
   font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif; 
   z-index: 3;
}

h1 {
font-family: "Lucida Grande",arial,sans-serif;
}

.commonBox {
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   box-shadow: rgba(10,10,10,.4) 2px 2px 0;
   background-color: #FFF;
}

.indicatorLights {
	font-size: 20px;
	letter-spacing: 1px;
}

.indicatorGreen {
	color: #6c3;
}

.indicatorOrange {
	color: #fc3;
}

.indicatorRed {
	color: #f30;
}

/*
h1 {
	text-align: center;
	font-size: 44pt;
	margin-bottom: 4px;
	margin-top: 20px
	font-weight: 700;
	font-family: "scrivano";
}

h2 {
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	font-family: "scrivano";
	padding-left: 150px;
	padding-right: 150px;	
}
*/
.mainBlurb {
	font-size: 18pt;
	font-weight: 400;
	font-family: "scrivano";
	text-align: center;
	margin-top: 20px;
	padding: 0 10%;	
}

.mainBlurb:first-line {
	font-size: 30pt;
	font-weight: 700;
	font-family: "scrivano";
}

header {
	height: 80px;
}

.main {
	min-height: 410px;
	min-width: 1000px;
}

.optionsWrapper {
	margin: 30px auto 0;
	width: 75%;
}

.option {
	float: left;
	width: 30%;
	height: 240px;
	position: relative;
	border-top: 1px solid #faf9f3;
	cursor: pointer;
	background-color: #FFF;
}

.option:hover {
	background-color: #fffbea;
}

.imgButton {
	cursor: pointer;
}

.optionGutter {
	float: left;
	width: 5%;
}

.light {
	
}

.option h3 {
color: #666;
background-color: #dfdbd2;
margin-top: 0;
margin-bottom: 5px;
padding: 5px 18px 2px;
font-size: 24pt;
font-weight: 700;
text-shadow: rgba(255,255,255,.6) 0 2px 0;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}

.option .optionAction {
color: #FFF;
padding: 4px 18px;
font-size: 22pt;
font-weight: 700;
position: absolute;
right: 0;
left: 0;
bottom: 0;
text-align: center;
text-shadow: rgba(20,20,20,.4) 1px 2px 0;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}

.option .details {
	background: url(../img/price-tag-alpha.png) top left no-repeat;
	min-height: 130px;
}

.price {
padding-top: 6px;
font-size: 25pt;
width: 130px;
text-align: right;
}

.price sup {
	font-size: 60%;
	margin-right: 4px;
}

.quote {
	text-align: center;
	width: 80px;	
	font-size: 16pt;
	line-height: 90%;
	margin-left: 42px;	
padding-top: 10px;

	
}

.option ul {
	float: right;
	font-size: 11pt;
	padding-left: 0;
	width: 170px;
	margin-right: 16px;
}

.option ul li {
	list-style-type: square;
	margin-bottom: 0px;
	
}

.optionA .optionAction {
	background-color: #6c3;
}
.optionB .optionAction {
	background-color: #fc3;
}.optionC .optionAction {
	background-color: #f30;
}

.optionB .optionAction{
	text-shadow: rgba(10,10,10,.5) 1px 2px 0;
}


footer {
	background: #dad5ca url(../img/fold.png) top left repeat-x;
	padding: 40px 40px 20px;
	font-weight: 400;
	font-family: "scrivano";
	overflow: auto;
}

/*

*/

.contact {
	float: left;
	font-size: 14pt;
}

.phone {
	font-size: 18pt;
}
.newsletterSignupLabel {
	font-size: 14pt;
}
.newsletterSignupArea {
	float: right;
}


.ui-widget-overlay { position:absolute; top:0; left:0; width:100%; height:100%; background:#000 url(../img/ui-bg_flat_0_000000_40x100.png) 50% 50% repeat-x; opacity:.40; filter:Alpha(Opacity=40); }

.ui-corner-tl { -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px; border-top-left-radius:4px; }

.ui-corner-tr { -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px; border-top-right-radius:4px; }

.ui-corner-bl { -moz-border-radius-bottomleft:4px; -webkit-border-bottom-left-radius:4px; border-bottom-left-radius:4px; }

.ui-corner-br { -moz-border-radius-bottomright:4px; -webkit-border-bottom-right-radius:4px; border-bottom-right-radius:4px; }

.ui-corner-top { -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px; border-top-left-radius:4px; -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px; border-top-right-radius:4px; }

.ui-corner-bottom { -moz-border-radius-bottomleft:4px; -webkit-border-bottom-left-radius:4px; border-bottom-left-radius:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-right-radius:4px; border-bottom-right-radius:4px; }

.ui-corner-right { -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px; border-top-right-radius:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-right-radius:4px; border-bottom-right-radius:4px; }

.ui-corner-left { -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px; border-top-left-radius:4px; -moz-border-radius-bottomleft:4px; -webkit-border-bottom-left-radius:4px; border-bottom-left-radius:4px; }

.ui-corner-all { -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }

.popup { background-color:#FFF; border:8px solid #666; padding: 16px 32px; line-height: 180%;}

.button {
   border: 1px solid #363;
   background: #9c6;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c6), to(#690));
   background: -webkit-linear-gradient(top, #9c6, #690);
   background: -moz-linear-gradient(top, #9c6, #690);
   background: -ms-linear-gradient(top, #9c6, #690);
   background: -o-linear-gradient(top, #9c6, #690);
   padding: 4px 16px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   text-shadow: rgba(20,20,20,.6) 0 1px 0;
   color: white;
   font-size: 16pt;
   font-weight: bold;
   margin: 10px 0;
}
.button:hover, .button:active {
   background: #690;
}

@media only screen and (min-height: 40em) {
	  footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}


.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
