<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Find out how to improve your web site - FrontendTest</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>

  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->


  <header>
	<h1>FrontendTest</h1><div class="indicatorLights"> <span class="indicatorGreen">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span><span class="indicatorOrange">&bull;</span><span class="indicatorRed">&bull;&bull;&bull;</span></div>
  </header>

  <div role="main" class="main">
	
	<div class="formColumn">
		
		
		<form id="signup">
		  	 <label for="url">Web site to test</label><br>
				<input type="url" name="url" id="url" placeholder="http://www.yourwebsite.com" required="required" size="30" style="margin-bottom: 16px;"><br>

		  	 <label for="email">Email to send report</label><br>
				<input type="email" name="email" id="email" placeholder="email@yourwebsite.com" required="required" size="30"><br>

				<small style="display: block;margin-top:8px;">We will confirm your email address.</small><br>

				<input type="checkbox" name="wantsMoreHelp"> <label for="wantsMoreHelp" class="smallLabel">I’m interested in having a web developer review my site.</label>
			<input type="submit" class="button" value="Get Report"><br>
			
		</form>
		
		<p>
	  	<b>Questions?</b> &nbsp;Email <a href="mailto:support@frontendtest.com">support@frontendtest.com</a>
	  	</p>
			
	</div>
	
	<div class="infoColumn tk-scrivano">
		
		<h2 class="marginBottom">Find out how to make your web site better, faster, and easier to maintain</h2>
		
		<h3>Discover</h3>
		<ul>
			<li>Errors</li>
			<li>Poorly optimized resources</li>
			<li>Out-of-date practices</li>
			<li>Unused code</li>
	 	</ul>		
	
	<!--<p><span id="whyTest" class="whyTest fauxLink">Why test?</span></p>-->
	

	<p>
  	<form id="newsletterSignup" class="newsletterSignup">

  	  	<label for="email" class="newsletterSignupLabel">FrontendTest news signup</label><br>
		<input type="email" name="email" placeholder="email@example.com" size="20" class="newsletterSignupField" /> 

  	<input type="image" src="{{ asset('img/ready.png') }}" width="61" height="40" class="imgButton" alt="Paper airplane submit button" id="submitAirplane" style="vertical-align: middle"> 
    <span id="newsletterFormSubmitMsg"></span>
  	</form>
	</p>
		
	</div>
	
	
</div>

	<!--	
	
	
	<h2 class="tk-scrivano">Find out how to improve your web site</h2>

		<ul class="tk-scrivano">
			<li>front-end errors</li>
			<li>out-of-date practices</li>
			<li>unused code</li>
			<li>poorly optimized resources</li>
	 	</ul>

  </div>
  <footer class="tk-scrivano">
  
  <div class="contact">
  	<b>Questions?</b> Email <a href="mailto:support@frontendtest.com">support@frontendtest.com</a>
  </div>
  
  <div class="newsletterSignupArea">
  	<form id="newsletterSignup">
  	
  	  	<label for="email" class="newsletterSignupLabel">Sign up for FrontendTest news</label><br>
		<input type="email" name="email" placeholder="email@example.com" size="20" /> 
  	
  	<input type="image" src="/img/ready.png" width="61" height="40" class="imgButton" alt="Paper airplane submit button" id="submitAirplane" style="vertical-align: middle"> <span id="newsletterFormSubmitMsg" style="color: #dad5ca">whoosh.</span>
  	</form>
  </div>

  </footer>

-->

  <!-- <script src="/js/libs/modernizr-2.5.3.min.js" defer="defer"></script> -->
  
  <!-- local -->
   
<script type="text/javascript" src="http://use.typekit.com/jif1lwz.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

 <!--
<script type="text/javascript" src="http://use.typekit.com/cfs0wvw.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  
  <script src="/js/jquery-ui-1.8.13.custom.min.js"></script>
  <script src="/js/jquery.validate.min.js"></script>

  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>

  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    
    
    $(document).ready(function() {
    
    	$('#submitAirplane').hover(
		  function () {
			$(this).attr('src','{{ asset('img/set.png') }}');
		  }, 
		  function () {
			$(this).attr('src','{{ asset('img/ready.png') }}');
		  }
		);
	
		
		$('#newsletterSignup').submit(function() {
			
			$.ajax({
			  type: "POST",
			  url: "newsletter_insert.php",
			  data: $(this).serialize(),
			  success: function(data) {
			  	if(data=='true') $('#newsletterFormSubmitMsg').html('whoosh.');
			  }
			});	
		  		  
		  	return false;
		});

        $('#signup').submit(function() {
        	console.log($('#url').val());
        	
			if($('#url').val()==''){
				$('#url').css('border','1px solid red');
				$('#url').focus();
				return false;
			} else {
				$('#url').css('border','1px solid black');
			}

			if($('#email').val()==''){
				$('#email').css('border','1px solid red');
				$('#email').focus();
				return false;
			} else {
				$('#email').css('border','1px solid black');
			}
			
			$.ajax({
			  type: "POST",
			  url: "ft_request",
			  data: $(this).serialize(),
			  success: function(data) {			  	   
					$('.popup').html('Thanks! We will contact you shortly.');
				   closeDialogAfterPause();
			  }
			});	
		  		  
		  	return false;
		});
		
        $("#signup").validate({
            rules: {
                url: {
				  required: true,
				  url: true
				},
                email: {
				  required: true,
				  email: true
				}
            }
        });


    });    
 
  </script>
</body>
</html>
