{% extends "FtHomeBundle::layout.html.twig" %}

{% block content %}
<!--
<h1>Frequently Asked Questions</h1>

<h3>What do you test?</h3>
ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem 
-->

Oops! Please be patient. This page is coming very soon.
{% endblock %}