{% extends "FtHomeBundle::layout.html.twig" %}

{% block content %}

<h1 class="marginBottom">Frequently Asked Questions</h1>

<h3 class="sectionTitle">Why use FrontendTest?</h3>
<h4>There are many reasons, including:</h4>
<ol class="indentedList">
<li>The <a href="http://stevesouders.com/hpws/">biggest performance wins</a> are to be had by improving the front-end code.</li>
<li>Mobile use is exploding, and sites should be fast and current; new HTML5 input types greatly improve usability, for example.</li>
<li>Standards and best-practices are quickly evolving, and a tool that automatically detects out-of-date code is useful.</li>
<li>Code becomes sloppy. Errors and inefficiencies are introduced when a site is developed and maintained.</li>
<li>An HTML document that passes validation is not necessarily well-crafted front-end; it can have many defects that will not be triggered by a validator.</li>
</ol>

<h3 class="sectionTitle">How often should I use FrontendTest?</h3>

<h4>We recommend you run FrontendTest <strong>monthly</strong> and whenever changes are made for the reasons above, and because FrontendTest is under development; it improves and is added to continuously.</h4> 
<!--<ol class="indentedList">
	<li>Front-end code becomes sloppy, bugs and inefficiencies are invariably introduced.</li>
	<li>Standards and best-practices evolve fast.</li>	
	<li>FrontendTest is under development; the application improves and added to continuously.</li>
</ol>

-->



{% endblock %}


{% block contentBottom %}

{% endblock %}