{% extends "FtHomeBundle::home_v1.html.twig" %}

{% block content %}

<div class="optionsWrapper">
	<div class="commonBox option optionA">
		<h3>Free</h3>			
		<div class="details">
			<h4 class="price"><sup>$</sup>0</h4>
			<ul>
				<li>Basic tests</li>
			</ul>
		</div>
		<div class="optionAction">Run</div>
	</div>
	<div class="optionGutter">&nbsp;</div>
	<div class="commonBox option optionB">
		<h3>Auto</h3>			
		<div class="details">
			<h4 class="price"><sup>$</sup>89</h4>
			<ul>
				<li>100+ tests</li>
			</ul>
		</div>
		<div class="optionAction">Sign Up</div>
	</div>
	<div class="optionGutter">&nbsp;</div>
	<div class="commonBox option optionC">
		<h3>Custom</h3>			
		<div class="details">
			<!--<h4 class="price"><sup>$</sup>1890</h4>-->
			<h4 class="quote tk-scrivano">Will Quote</h4>
			<ul>
				<li>Automated tests</li>
				<li>Dedicated UI engineer</li>
				<li>Tailored suggestions</li>
			</ul>
		</div>
		<div class="optionAction">Sign Up</div>
	</div>

</div>
{% endblock %}